# R Foundamentals

**Table of Contents**
- [Syntax and Data Types](#chapter1)
- [Control Flow and Functions](#chapter2)
- [Data Visualization and EDA](#chapter3)

<a id='chapter1'></a>
## Syntax and Data Types

**Type I. Characters**

In [22]:
class("Hello")

[1] "character"

In [23]:
class("world")

[1] "character"

In [24]:
class('')

[1] "character"

**Type II. Numerics**

In [19]:
class(1.2)

[1] "numeric"

In [20]:
class(5)

[1] "numeric"

In [21]:
class(-5.5)

[1] "numeric"

**Type III. Logicals**

In [25]:
class(TRUE)

[1] "logical"

In [26]:
class(FALSE)

[1] "logical"

In [27]:
class(True)

ERROR: Error in eval(expr, envir, enclos): object 'True' not found

**IV. Data Type Conversion**

In [29]:
as.logical(0)

[1] FALSE

In [32]:
# 非零数转换成布尔值均为TRUE
as.logical(5)

[1] TRUE

In [33]:
as.logical('hello')

[1] NA

In [37]:
a = "1.2"
class(a)

[1] "character"

In [38]:
b = as.integer(a)
class(b)

[1] "integer"

In [39]:
as.integer(2.2)

[1] 2

**V. Vectors**

syntax:

```
vector(mode=, length=)
```

In [40]:
vector('logical', 2)

[1] FALSE FALSE

In [41]:
vector('numeric', 3)

[1] 0 0 0

In [42]:
vector('character', 5)

[1] "" "" "" "" ""

In [45]:
c('blue', 'green', 'brown', 'brown')

[1] "blue"  "green" "brown" "brown"

In [46]:
c(67, 74, 63, 'yes')

[1] "67"  "74"  "63"  "yes"

**VI. seq**

In [43]:
seq(1, 10, 2)

[1] 1 3 5 7 9

利用`length.out`参数，等分两个数

In [49]:
# 类似python中的np.linspace()
seq(1, 10, length.out=8)

[1]  1.000000  2.285714  3.571429  4.857143  6.142857  7.428571  8.714286
[8] 10.000000

In [52]:
seq(0, 1, length.out=11)

 [1] 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

**VII. rep**

In [44]:
c(rep(2, 3), rep(1, 2))

[1] 2 2 2 1 1

In [50]:
vector('numeric', 5)

[1] 0 0 0 0 0

<a id='chapter2'></a>
## Control Flow and Functions

<a id='chapter3'></a>
## Data Visualization and EDA